
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChatBot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/Template/img/lg1.png" type="image/png">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/css/main.css">
    <!--===============================================================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,700,400i,500%7CDancing+Script:700%7CDancing+Script:700" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/animate.css" />
    <!-- owl Carousel assets -->
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/flag-icon.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/style.css">
    <!-- colors -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/colors/color-1.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/elegant_icon.css">

    <!-- jquery library  -->
    <script src="~/Content/MainTemplete/assets/js/jquery-3.2.1.min.js"></script>
    <!-- fontawesome  -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<body>
    <header class="background-white box-shadow">
        <div class="container header-in">


            <div class="row">
                <div class="col-lg-2 col-md-12">

                    <a id="logo" href="index.html" class="d-inline-block margin-tb-15px"><img src="~/Content/MainTemplete/assets/img/logo-3.png" alt=""></a>
                    <a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="col-lg-7 col-md-12 position-inherit">
                    <ul id="menu-main" class="nav-menu float-lg-right link-padding-tb-20px">
                        <li>
                            <a href="#">Home</a>

                        </li>

                        <li>
                            <a href="#">Dashboard</a>

                        </li>
                        <li>
                            <a href="#">Blog</a>

                        </li>

                        <li><a href="page-contact-us.html">Conact Us</a></li>
                        <li>
                            <a href="Home/CreateUser">Register</a>

                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12">

                    <a href="Home/Login" class="margin-tb-20px d-inline-block text-up-small float-left float-lg-right"><i class="far fa-user"></i>  Login</a>
                </div>

            </div>

        </div>

    </header>


    <div class="limiter">

        <div>
            <h3>Praimary Health Service</h3>
            <style>
                h3 {
                    text-align: center;
                    color: red
                }

                h5 {
                    text-align: center;
                    color: orangered
                }
            </style>

        </div>
        <div class="container-login100">

            <div class="wrap-login100">

                <div>
                    <span class="login100-form-title-1">

                    </span>
                </div>


                <iframe allow="microphone;"
                        width="670"
                        height="430"
                        src="https://console.dialogflow.com/api-client/demo/embedded/f076b020-5884-469b-85e5-31373fb1c390">
                </iframe>



            </div>
        </div>
    </div>
    <footer class="padding-tb-20px background-main-color wow fadeInUp">
        <div class="container">

            <hr class="border-white opacity-4 margin-tb-45px">
            <div class="row">
                <div class="col-lg-6">
                    <p class="margin-0px text-white opacity-7 sm-mb-15px">
                        <script>document.write(new Date().getFullYear());</script>   All rights reserved |  AR <i class="fa fa-heart" aria-hidden="true"></i>

                </div>
                <div class="col-lg-6">
                    <ul class="social-icon style-2 float-lg-right">
                        <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/js/main.js"></script>
    <script src="~/Content/MainTemplete/assets/js/sticky-sidebar.js"></script>
    <script src="~/Content/MainTemplete/assets/js/YouTubePopUp.jquery.js"></script>
    <script src="~/Content/MainTemplete/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/imagesloaded.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/wow.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/custom.js"></script>
    <script src="~/Content/MainTemplete/assets/js/popper.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/bootstrap.min.js"></script>

</body>
</html>
