
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Assistant </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/Template/img/lg1.png" type="image/png">
  
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/LoginTemplate/css/main.css">
    <!--===============================================================================================-->
</head>

<body>
    <img src="~/Content/DashboardTemplate/img/logo.png" alt="">

    <div class="limiter">

        <div>
            <h3>Doctor Virtual Assistant</h3>
            <style>
                h3 {
                    text-align: center;
                    color: red
                }

                h5 {
                    text-align: center;
                    color: orangered
                }
            </style>

        </div>

        <div class="container-login100">

            <div class="wrap-login100">

                <div>
                    <span class="login100-form-title-1">

                    </span>
                </div>


                <iframe allow="microphone;"
                        width="670"
                        height="400"
                        src="https://console.dialogflow.com/api-client/demo/embedded/572e0f9a-2283-4216-b739-b29286fdb77b">
                </iframe>




            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">


                @Html.ActionLink("Back", "Login", "Home", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/LoginTemplate/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/LoginTemplate/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/LoginTemplate/js/main.js"></script>

</body>
</html>
