
@{
    ViewBag.Title = "Home";
    Layout = null;
}
<!DOCTYPE html >
<html lang="en-US">
<head>
    <title>Blood Bank</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/Content/Template/img/lg1.png" type="image/png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800%7CPoppins:300i,300,400,700,400i,500%7CDancing+Script:700%7CDancing+Script:700" rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/animate.css" />
    <!-- owl Carousel assets -->
    <link href="assets/css/owl.carousel.css" rel="stylesheet">
    <link href="assets/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/flag-icon.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/style.css">
    <!-- colors -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/colors/color-1.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="~/Content/MainTemplete/assets/css/elegant_icon.css">

    <!-- jquery library  -->
    <script src="~/Content/MainTemplete/assets/js/jquery-3.2.1.min.js"></script>
    <!-- fontawesome  -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


</head>
<body>
    <header class="background-white box-shadow">
        <div class="container header-in">


            <div class="row">
                <div class="col-lg-2 col-md-12">

                    <a id="logo" href="index.html" class="d-inline-block margin-tb-15px"><img src="~/Content/MainTemplete/assets/img/logo-3.png" alt=""></a>
                    <a class="mobile-toggle padding-13px background-main-color" href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="col-lg-7 col-md-12 position-inherit">
                    <ul id="menu-main" class="nav-menu float-lg-right link-padding-tb-20px">
                        <li>
                            <a href="#">Home</a>

                        </li>

                        <li>
                            <a href="#">Dashboard</a>

                        </li>
                        <li>
                            <a href="#">Blog</a>

                        </li>

                        <li><a href="page-contact-us.html">Conact Us</a></li>
                        <li>
                            <a href="Home/CreateUser">Register</a>

                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12">

                    <a href="Home/Login" class="margin-tb-20px d-inline-block text-up-small float-left float-lg-right"><i class="far fa-user"></i>  Login</a>
                </div>

            </div>

        </div>

    </header>
    <section class="padding-tb-100px background-grey-1">
        <div class="container">
            <!-- Title -->
            <div class="row justify-content-center margin-bottom-45px">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-5 wow fadeInUp">
                            <h1 class="text-second-color font-weight-300 text-sm-center text-lg-right margin-tb-15px">Blood Banks</h1>
                        </div>
                        <div class="col-md-7 wow fadeInUp" data-wow-delay="0.2s">
                            <p class="text-orange">Across Bangladesh, every day there remains an urgent need for all types of blood groups. Especially donors with rare blood groups such as O Negative, B Negative and A Negative are in high demand. Your timely response is essential to the supply of healthy blood for the massive daily demand we face.</p>
                        </div>

                    </div>
                </div>
            </div>
            <!-- // Title -->


            <div class="row">

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">

                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb1.png" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i> Mohammadpur
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/Q5YyQmvcPWoXYdMW7/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Blood Bank - Bangladesh Red Crescent Society </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i>  7, 5 Aurangajeb Rd, Dhaka</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">  02-9139940</a></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">
                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/BloodBank.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i> Mohammadpur
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/Kg3jFbDYuyy6SP22A/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Bangladesh Blood Bank and Transfusion Center </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i>  12,, 22 Babar Rd, Dhaka</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">  01850-077185</a></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">

                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb2.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Dhanmondi
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/tHpBVxQ1M865EVjU6/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Mukti Blood Bank and Transfusion Center</a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i>  Bir-uttuam A.M. Shafiullah Road</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#"> 02-8624249</a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">
                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb3.jpg" />

                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Dhaka University
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/VvQAqy6s1VZPAuV16/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Badhan Blood Transfusion Center </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i> 8 Secretariat Rd, Dhaka 1000</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#"> 01534-982674</a></div>

                        </div>
                    </div>
                </div>



            </div><!-- // row -->

            <hr class="border-white opacity-4 margin-tb-45px">
            <div class="row">

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">

                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb4.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i> Shantinagar
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/7thd71opZBHCz7Wk7/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Quantum Blood Lab </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i>  31/V Shilpacharya Zainul Abedin Sarak, Shantinagar, Dhaka 1217</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#"> 02-9351969</a></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">
                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/BloodBank.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i> Dhaka Medical
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/nsUwNAY2xpm2KYDC8/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Sandhani Dhaka Medical College, Dhaka</a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i> Dhaka</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">02-9668690</a></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">

                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb5.png" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Mohammadpur
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/op8kmJYgt4D6rVE38/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Maliha Blood Bank & Transfusion Center</a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i> 2/13, Humayun Road, Block-B</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">01794-284811</a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">
                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/BloodBank.jpg" />

                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Dhaka
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/gzjtq61P9iN3jZiP8/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Red Crescent Blood Bank and Transfusion Center </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i>Dhaka </div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#"> 01911-212893</a></div>

                        </div>
                    </div>
                </div>



            </div><!-- // row -->
            <hr class="border-white opacity-4 margin-tb-45px">
            <div class="row">

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">

                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb6.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i> Shantinagar
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/3szAHw2VibnR6HUBA/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Doctor's Zone Blood Bank & Transfusion Center </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i> Rayerbag Bus stand</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">01678-313428</a></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">
                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb7.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Chalkbazar
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/i3jUQZBL6gkQzGZW7/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Creative Blood Bank </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i> 83, Nazimuddin Road, Chalkbazar</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">01772-829082</a></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">

                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb8.jpg" />
                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Moghbazar
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/CG29XzVnu4ugMf7fA/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Addin Hospital Blood Bank & Transfusion Center</a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i> 70 Jomidar Goli, Dhaka 1205</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#">01713-488418</a></div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 sm-mb-45px">
                    <div class="background-white thum-hover box-shadow hvr-float full-width wow fadeInUp">
                        <div class="item-thumbnail thum">
                            <img src="~/Content/MainTemplete/assets/img/Blood Bank/bb9.jpg" />

                        </div>
                        <div class="padding-25px">
                            <div>

                                <a href="#" class="text-main-color">Blood Bank  </a>
                                <a>
                                    <i class="fas fa-map-marker-alt text-grey-2 margin-left-10px"></i>Dhaka
                                </a>

                            </div>


                            <h3><a href="https://goo.gl/maps/1YervJsZiirGHzGD6/" class="d-block text-dark text-capitalize text-medium margin-tb-15px">Police Blood Bank </a></h3>
                            <div class="text-extra-small margin-bottom-10px"><i class="fa fa-home text-grey-2 margin-right-10px"></i>Centrul Police Hospital, 2nd Floor, Dhaka 1000</div>
                            <div class="text-extra-small"><i class="fa fa-phone text-grey-2 margin-right-10px"></i><a href="#"> 02-9362573</a></div>

                        </div>
                    </div>
                </div>



            </div><!-- // row -->
        </div><!-- // container -->
    </section>
    <div class="col-md-7 wow fadeInUp">
        <h2 class="text-second-color font-weight-300 text-sm-center text-lg-right margin-tb-15px">Search In Map</h2>
    </div>
    <iframe width="1400" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Dhaka+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='https://embedmaps.org/'>google maps embed</a>
    <script type='text/javascript' src='https://maps-generator.com/google-maps-authorization/script.js?id=962b4f40517acdbbab52979619fcc705efbd79db'></script>
    <footer class="padding-tb-20px background-main-color wow fadeInUp">
        <div class="container">


            <div class="row">
                <div class="col-lg-6">
                    <p class="margin-0px text-white opacity-7 sm-mb-15px">
                        <script>document.write(new Date().getFullYear());</script>   All rights reserved |  AR <i class="fa fa-heart" aria-hidden="true"></i>

                </div>
                <div class="col-lg-6">
                    <ul class="social-icon style-2 float-lg-right">
                        <li class="list-inline-item"><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="youtube" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="rss" href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/MainTemplete/assets/js/sticky-sidebar.js"></script>
    <script src="~/Content/MainTemplete/assets/js/YouTubePopUp.jquery.js"></script>
    <script src="~/Content/MainTemplete/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/imagesloaded.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/wow.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/custom.js"></script>
    <script src="~/Content/MainTemplete/assets/js/popper.min.js"></script>
    <script src="~/Content/MainTemplete/assets/js/bootstrap.min.js"></script>

</body>

</html>